<nav class="nav" id="bg-color">
  <div id="nav-1" class="div-nav">
    <a href="/"><img id="logo" src="../images/logo.png"> </a>
    <a href="/">Home</a>
    <a href="/course/list">Cursos avaliados</a>
  </div>
  <div class="div-nav">
    <form class="search" id="search-login" action="/course/list">
      <label for="stringQuery"></label>
      <input type="text" name="stringQuery" placeholder="Procurar por curso ou instituição">
      <button id="btn-search" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>

  {{#unless user}}
  <div id="nav-2" class="div-nav">
    <a id="login" href="/login">Login</a>
    <a id="signup" href="/signup">Cadastre-se</a>
  </div>
  {{/unless}}

  {{#if user}}
  <div id="nav-2" class="div-nav">
    <a id="login" href="/logout">logout</a>
    <a id="login" href="/profile/{{user._id}}">perfil</a>
  </div>
  {{/if}}
</nav>