@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

body {
	margin: 0rem;
	font-family: 'Lato', sans-serif;
	width: 100%;
	padding: 0;
	outline: none;
}

a {
	text-decoration: none;
}

/* ----- HOME ----- */

#bg-color {
	background-color: #ddede6;
	height: 5rem;
}

.banner-home {
	background-image: url(../images/banner.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 45rem;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 5rem;
	color: #060e41;
}
.nav a {
	color: #060e41;
	transition: all 0.4s ease 0s;
}

.nav a:hover {
	color: #63caa2;
}
.div-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 0.9rem;
	flex-wrap: wrap;
}

#nav-1 {
	width: 25rem;
}

#nav-2 {
	width: 13rem;
}

#logo {
	width: 8rem;
}
.search {
	background-color: rgb(255, 255, 255);
	border-radius: 0.8rem;
	padding-left: 0.8rem;
}
.search input {
	border-radius: 0.8rem;
	background-color: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	border-style: none;
	width: 15rem;
	height: 1.8rem;
	outline: none;
}

#btn-search {
	border-radius: 0.8rem;
	background-color: #060e41;
	height: 2rem;
	width: 3rem;
	color: white;
	border-style: none;
}

#login {
	border-radius: 1rem;
	border: 0.09rem solid white;
	padding: 0.2rem 0.8rem;
}

#login:hover {
	background-color: white;
	color:#060e41;
	transition: all 0.4s ease 0s;
	
}
#signup {
	border-radius: 1rem;
	background-color: #060e41;
	padding: 0.3rem 1rem;
	color: white;
}

#signup:hover {
	background-color: white;
	color:#060e41;
	transition: all 0.4s ease 0s;
}


#login-partial {
	border-radius: 1rem;
	border: 0.09rem solid #060e41;
	padding: 0.2rem 0.8rem;
}

#login-partial:hover {
	background-color: #060e41;
	color:#060e41;
	transition: all 0.4s ease 0s;
	
}
#signup-partial {
	border-radius: 1rem;
	background-color: #060e41;
	padding: 0.3rem 1rem;
	color: white;
}

#signup-partial:hover {
	background-color: white;
	color:#63caa2;
	transition: all 0.4s ease 0s;
}

.title {
	height: 35rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 10rem;
}

.title h1 {
	font-size: 3rem;
	width: 19rem;
	text-align: left;
	font-weight: 900;
	line-height: 3.5rem;
	color: #060e41;
}

.title p {
	font-size: 1.4rem;
	width: 19rem;
	text-align: left;
	font-weight: normal;
	padding-bottom: 1rem;
	margin-top: -1rem;
	font-weight: 400;
}

.btn-banner {
	background: rgb(99, 202, 162);
	background: linear-gradient(-82deg, rgba(99, 202, 162, 1) 0%, rgba(55, 164, 153, 1) 100%);
	border-radius: 2rem;
	font-size: 0.9rem;
	font-weight: 900;
	border-style: none;
	color: white;
	padding: 0.8rem 1.5rem;
	width: 10rem;
	box-shadow: 1px 3px 50px 2px rgba(73, 180, 157, 0.7);
}

.btn-banner:hover {
background: #060E41;
padding: 0.8rem 1.9rem;
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
box-shadow: 1px 3px 50px 4px  rgba(73, 180, 157, 0.7);
}


.courses-home {
	background-color: #e0efe9;
	height: 30rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 4rem;
	padding: 3rem;
}

.courses-home h2 {
	color: #060e41;
	font-size: 2rem;
	font-weight: 400;
}

.cards {
	width: 8rem;
	background-color: white;
	margin: 1rem 1rem;
	border-radius: 1rem;
	padding: 0.5rem 1.5rem;
	height: 12rem;
	text-align: center;
	flex-wrap: wrap;
	flex-direction: row;
	color: rgb(37, 37, 37);
	box-shadow: 0px 0px 40px 9px rgba(207, 226, 219, 0.7);
}

.cards h4 {
	font-size: 1rem;
	font-weight: 400;
	color: rgb(37, 37, 37);
}

.cards p {
	font-weight: 700;
	color: #060e41;
}

.fa-graduation-cap {
	color: #dc5b21;
	padding-right: 0.3rem;
}

.cards-home {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.btn-home {
	padding: 0.6rem 3rem;
	font-size: 0.9rem;
	background-color: #63caa2;
	border-radius: 2rem;
	border-style: none;
	margin-top: 2rem;
	font-weight: 700;
	color: #060e41;
	box-shadow: 0px 0px 37px -2px rgba(73, 180, 157, 0.61);
}

.btn-home:hover {
	color: #060e41;
	box-shadow: 0px 0px 37px -2px rgba(73, 180, 157, 0.61);
	background-color: white;
	box-shadow: 0px 0px 37px -2px rgba(73, 180, 157, 0.61);
	transition: all 0.4s ease 0s;


}

.footer img {
	width: 7rem;
}

.footer {
	display: flex;
	background-color: #060e41;
	height: 4rem;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
}

.profile-nav {
display: flex;
flex-direction: column;
align-items: center;
font-size: 1rem;
font-weight: 700;
}
.img-index {
	width: 2rem;
	border-radius: 50%;
}

.profile-nav a:hover {
color: white;
transition: all 0.4s ease 0s;
}


@media screen and (max-width: 600px) {

	}
  