<h1>Avalia Tech</h1>
<p>Avalie os cursos que você já fez na área da tecnologia e ajude outras pessoas a fazerem o curso certo</p>

<h2>Sobre</h2>
<p></p>

<h2>Cursos Avaliados</h2>
<ul>
{{#each course}}
<li>{{name}}</li>
{{/each}}
</ul>

<a href="Outros cursos"><button>ver todos</button></a>
