<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalia Tech</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/course-list.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/profile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/course-card.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/course-form.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/course-page.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/course-detail.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/login-signup.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css" media="screen" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-a11y="true"></script>
</head>
<body>
    {{{body}}}

      <footer class="footer">
        <img src="/images/logo-footer.png">

    </footer>
</body>
</html>