<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Cadastre-se</a>
    <a href="/logout">logout</a>
    <a href="/about">sobre nós</a>
    {{{body}}}
</body>
</html>