<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Nome</label>
  <input type="text" name="username">

  <label for="password">Senha</label>
  <input type="password" name="password">

{{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <button>Login</button>

  <p class="account-message">
    Não tem uma conta? <a href="/signup">Cadastre-se</a>
  </p>
  {{!-- <a href="/auth/slack">Login With Slack</a>
 <a href="/auth/google">Login With Google</a> --}}
</form>
