<h2>Redefinir senha</h2>

<form action="/senha?id={{_id}}" method="POST" enctype="multipart/form-data"></form>
Senha atual
<input></input>

Nova senha
<input></input>

Repetir senha
<input></input>

</form>