<h2>Redefinir senha</h2>

<form action="/password?id={{_id}}" method="POST">

<label for="password">Senha</label><br>
<input type="password" name="password" placeholder="********">
<br>

<label for="password">Nova senha</label><br>
<input type="password" name="newPassword" placeholder="********">
<br>
<label for="password">Repita a nova senha</label><br>
<input type="password" name="newPassword2" placeholder="********">
<br>
<button type="submit">Mudar</button>
</form>



