<img src="{{imgPath}}"><br>

<div class="profile-container">
  <form action="/profile-edit?id={{_id}}" method="POST" enctype="multipart/form-data">
    <div class="profile-photo-container">
      <label>Foto</label>
      <input type="file" name="photo">
    </div>
    <input id="edit" name="username" value="{{username}}" disabled></input> | <button type="button" id="btn">Edit</button><br>
    <input id="edit2" name="email" value="{{email}}" disabled></input> | <button type="button" id="btn2">Edit</button><br>
    <button id="save" type="submit">Salvar</button>
  </form>
</div>

<a href="/password">Redefinir senha</a>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascript/edit.js"></script>
