<h1>Confiruações de Perfil</h1>
<form action="/profile-edit?id={{_id}}" method="POST" enctype="multipart/form-data">
<img src="{{imgPath}}"><br>
<input id="edit" name="username" value="{{username}}" disabled></input> | <button type="button" id="btn">Edit</button><br>
<input id="edit2" name="email" value="{{email}}" disabled></input> | <button type="button" id="btn2">Edit</button><br>

  {{!-- <label>Foto</label>
  <input type="file" name="photo">
<br> --}}
  <button id="save" type="submit">Salvar</button>
</form>


<script src="/javascript/edit.js"></script>