{{> navbarPartialWhite}}


<section class="login-signup">

  <div class="login-form-div">
    <h2 id="form-h2">Cadastre-se</h2>

<form lass="login-form" id="form" action="/signup" method="POST">

  <input id="input-login" type="text" name="username" placeholder="Nome de usuário"> <br>
   <input type="hidden" name="imgPath" value="{{imgPath}}">

  <input id="input-login" type="email" name="email" id="email" placeholder="E-mail"><br>

  <input id="input-login" type="password" name="password" placeholder="Senha"><br><br>

  {{#if errorMessage}}
    <div class="error-message">
  {{errorMessage}}
    </div>
  {{/if}}
  <br>
  
  <button id="btn-login" class="btn-banner" type="submit">Criar conta</button><br>
  {{!-- <p>ou</p>

      <a id="btn-social-fb" href="/auth/facebook"><i class="fab fa-facebook-square"></i>Login com
          facebook</a><br>
      <a id="btn-social-g" href="/auth/google"><i class="fab fa-google"></i>Login com Google</a><br>
      <p>
        Já tem uma conta? <u><a class="account-message" href="/login"> Faça Login</a></u>
      </p> --}}
</form>
  </div>


</section>

