<form id="form" action="/signup" method="POST">
  <label for="username">Nome</label><br>
  <input type="text" name="username" placeholder="Your username">
   <input type="hidden" name="imgPath" value="{{imgPath}}">
  <label for="">E-mail</label>
  <input type="email" name="email" id="email">

  <label for="password">Senha</label><br>
  <input type="password" name="password" placeholder="********">

  {{#if errorMessage}}
  <div class='error-message'>{{errorMessage}}</div>
  {{/if}}

{{!-- <div class="g-recaptcha" data-sitekey="6LdD3OkUAAAAAF7Y0lqZ8xbSZ1PhkejBZPvivSBl"></div> --}}
  
  <button type="submit">Crie uma conta</button>

  <a href="/auth/google">Login With Google</a>

  <a href="/auth/facebook">Login With facebook</a>
</form>


