{{> navbarPartial}}
<div class="course">
    <form action="/course/edit/{{course._id}}" method="POST">
        <div class="course-container">
            {{> courseForm}}
        </div>
    </form>
</div>