{{> navbarPartialWhite}}


<div class="course-list-header">
    Cursos <b>avaliados</b> 
</div>
<div class="course-list-container">
    <form action="/course/list">
        <div class="course-list-filters">
            <div class="course-list-filters-header">
                Filtrar por
            </div>
            <div class="course-list-filters-field">
                <label for="name" class="course-list-filters-label">Nome do Curso</label>
                <input type="text" name="name" class="course-list-input course-list-input-text">
            </div>

            <div class="course-list-filters-field">
                <label for="institution" class="course-list-filters-label">Instituição</label>
                <input type="text" name="institution" class="course-list-input course-list-input-text">
            </div>

            <div class="course-list-filters-field">
                <span class="course-list-filters-label">Valor do curso</span>
                <div class="course-list-filters-input-minmax">
                    <div>
                        <label for="minValue">min: </label>
                        <input type="number" name="minValue" step="0.01" min="0" class="course-list-input course-list-input-number">
                    </div>
                    <div>
                        <label for="maxValue">max: </label>
                        <input type="number" name="maxValue" step="0.01" class="course-list-input course-list-input-number">
                    </div>
                </div>                
            </div>

            <div class="course-list-filters-field">
                <span class="course-list-filters-label">Duração em Horas</span>
                <div class="course-list-filters-input-minmax">
                    <div>
                        <label for="minDuration">min: </label>
                        <input type="number" name="minDuration" step="0.01" min="0" class="course-list-input course-list-input-number">
                    </div>
                    <div>
                        <label for="maxDuration">max: </label>
                        <input type="number" name="maxDuration" step="0.01" class="course-list-input course-list-input-number">
                    </div>
                </div>
            </div>

            <div class="course-list-filters-field">
                <span class="course-list-filters-label">Média da avaliação</span>
                <div class="course-list-filters-input-minmax">
                    <div>
                        <label for="minAvg">min: </label>
                        <input type="number" name="minAvg" step="0.01" min="0" max="5" class="course-list-input course-list-input-number">
                    </div>
                    <div>
                        <label for="maxAvg">max: </label>
                        <input type="number" name="maxAvg" step="0.01" min="0" max="5" class="course-list-input course-list-input-number">
                    </div>
                </div>
            </div>

            <div class="course-list-filters-field">
                <label for="format" class="course-list-filters-label">Formato</label>
                <select name="format" class="course-list-input course-list-input-select">
                        <option value="" selected></option>
                    {{#each formats}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="course-list-filters-field">
                <label for="category" class="course-list-filters-label">Categoria</label>
                <select name="category" class="course-list-input course-list-input-select">
                        <option value="" selected></option>
                    {{#each categories}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="course-list-filters-option">
                <label class="course-list-filters-label" for="findByUser">Procurar somente por cursos avaliados por mim</label>
                <input type="checkbox" name="findByUser">
            </div>

            <div class="course-list-button-container">
                <button type="submit" class="course-list-button">Filtrar</button>
            </div>
        </div>
    </form>
    <div class="course-list-cards">
        {{#each courses}}
            <div class="course-list-cards-container">
                {{> courseCard}}
            </div>
        {{/each}}
    </div>
</div>

<div class="course-list-bottom">
    Não encontrou o curso que procura?
    <a href="/course/add"><button class="course-list-bottom-button">Adicione um curso</button></a>
</div>




