<h1>Test</h1>

<button type="button" id="btn">Show Course</button>

<br><br>
<input type="text" id="input">
<button type="button" id="btn-edit">Edit Name</button>

<div></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="javascript/test.js"></script>